.side {
    width: 180px;
    height: 1000px, auto;
    background-color: black;
    position: absolute;
    transition: 1s;
    transform: translateX(-150px);
}
.side:hover {
    background-color: white;
    transition: 1s;
    transform: translateX(0px);
}
.sideInner {
    width: 180px;
    height: 80px;
    color: black;
}
