.img {
    width: 300px;
    height:300px;
    border-radius: 150px; /* 이미지 반크기만큼 반경을 잡기*/
} 

#radius-box {
    width: 300px;
    height: 300px;
    border-radius: 150px; /* 레이어 반크기만큼 반경을 잡기*/    
    display: table-cell;
    vertical-align: middle;
    color: red;
    font-weight: bold;
    text-align: center;
}